.pl_song_item {
    height: 50px;
    border: black solid 1px;
    text-align: center;
    position: relative;
}

.pl_song_item:nth-child(odd) {background: #CCC}
.pl_song_item:nth-child(even) {background: #FFF}

.pl_title {
    width: 250px;
    white-space: nowrap;
    display: block;
    height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 20px;
}

.pl_duration {
    height: 15px;
    width: 80px;
    justify-content: flex-end;
    color: blue;
}

.pl_song_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.pl_delete {
    visibility: hidden;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
    margin-left: 10px;
}

.pl_song_item:hover .pl_delete {
    visibility: visible;
}