.pl_app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    width: 100%;
}

.pl_player {
    height: 500px;
    width: 800px;
    margin-left: 40px;
}

#player {
    pointer-events: none;
}

